@font-face {
  font-family: 'Recital';
  src: url('/Fonts/Recital-Regular.otf') format('opentype');
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Recital', system-ui, sans-serif;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.video-container {
  opacity: 0;
  transition: opacity 1.5s ease-out;
}

.video-container.visible {
  opacity: 1;
}